[submodule "FreeRTOS_Posix/lwip"]
	path = lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "app/http-parser"]
	path = app/http-parser
	url = https://github.com/nodejs/http-parser.git
