[submodule "lwip"]
	path = lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "app/http-parser"]
	path = app/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "coremark"]
	path = coremark
	url = https://github.com/eembc/coremark.git
[submodule "LibHTTP"]
	path = app/libhttp
	url = https://github.com/lammertb/libhttp.git
